.single-data{
  max-width: 60%;
  background-color: #f3f3f3;
  padding: 5px;
  border-radius: 5px;
  min-height: 100px;
  text-align: left;
}
ul{
  list-style-type: none;
}
 ul li {
  padding: 10px;
  border-bottom: 1px solid gray;
 }
