<div class="mt-1 mb-1">
  <button class="btn btn-primary mr-1" (click)="getPostUser()">Get one Record</button>
  <button class="btn btn-primary ms-1" (click)="getPostList()">Get All Record</button>
</div>
<div class="row justify-content-center" *ngIf="postObj?.userId">
  <div class="single-data">
    <div class="row">
      <div class="col-2">
        <p>User Id :</p>
        <p>Title :</p>
        <p>Body :</p>
      </div>
      <div class="col  text-start">
        <p>{{postObj?.userId}}</p>
        <p>{{postObj?.title}}</p>
        <p>{{postObj?.body}}</p>
      </div>
    </div>
  </div>

</div>
