<div class="container-center">
  <div class="card score-section">
    <h2>Team1 vs Team2 Match</h2>
    <hr />
    <h3>
      Team1 Score : {{ scoreData?.team1Score }}
      <button
        type="button"
        class="btn btn-primary increamentby1"
        (click)="team1ScoreIncreament()"
      >
        Add +1
      </button>
    </h3>
    <form class="d-flex mt-1">
      <div class="form-group">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="team1InputScore"
          placeholder="Input run to add"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary mb-2 inputBtn"
        (click)="mumScoreincWithPayload()"
      >
        Add Run
      </button>
    </form>

    <hr />
    <h3>
      Team2 Score : {{ scoreData?.team2Score }}
      <button
        type="button"
        class="btn btn-primary increamentby1"
        (click)="team2ScoreIncreament()"
      >
        Add +1
      </button>
    </h3>
    <form class="d-flex mt-1" [formGroup]="team2Form">
      <div class="form-group">
        <input
          type="number"
          class="form-control"
          formControlName="team2InputScore"
          placeholder="Input run to add"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary mb-2 inputBtn"
        (click)="team2ScoreincWithPayload()"
      >
        Add Run
      </button>
    </form>
  </div>
</div>
